<!-- app/views/spree/user_mailer/reset_password_instructions.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1 style="color: #1a73e8;">My Store</h1>
  <% if @resource %>
    <p>Hello <%= @resource.email %>!</p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p>
      <%= link_to 'Change my password', edit_spree_user_password_url(reset_password_token: @token), style: "background-color: #1a73e8; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;" %>
    </p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  <% else %>
    <p>Error: User not found.</p>
  <% end %>

  <p>Best regards,<br>The My Store Team</p>
</body>
</html>