<% if resource && resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      Eroare: nu s-a putut salva <%= resource.class.model_name.human.downcase %> (total erori: <%= resource.errors.count %>)
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
